.create-form {
  display: flex;
  flex-direction: column;
  z-index: 3;
  top: 200px;
  position: absolute;
  left: 400px;
  width: 50px;
  margin-top: 50px;
}

.create-name {
  background: rgb(233, 240, 245);
  border:none;
  color: rgb(3, 1, 1);
  margin: 5px;
  height: 25px;
  border-radius: 5px;
  width: 500px;
  height: 45px;
}
  
.create-mobile {
  background: rgb(233, 240, 245);
  border:none;
  color: rgb(3, 1, 1);
  margin: 5px;
  height: 25px;
  border-radius: 5px;
  width: 240px;
  height: 45px;

}

.create-email {

  background: rgb(233, 240, 245);
  border:none;
  color: rgb(3, 1, 1);
  margin: 5px;
  height: 25px;
  border-radius: 5px;
  width: 250px;
  height: 45px;
     
}

.input-create {
  display: flex;
}
  
.create-label {
  color: rgb(9, 82, 124);
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}



.h1-create {
  color: rgb(9, 82, 124);
  left: 450px;
  font-size: 30px;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  margin-top: 100px;
  
}

.h2-create {
  margin-top: 160px;
  position: absolute;
  left: 420px;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  color:rgb(158, 177, 189);
  
}

.create-button{
  background-color: rgb(6, 62, 95);
  border:none;
  color: rgb(245, 240, 240);
  margin: 5px;
  margin-top: 70px;
  height: 25px;
  border-radius: 5px;
  width: 500px;
  height: 45px;
  font-family: 'Montserrat', sans-serif;
  font-weight:900;

}