.login-imagem {
  position: absolute;
  width: 600px;
  right: 600px;
  z-index: 0;
  }

  .form-login {
    display: flex;
    flex-direction: column;
    z-index: 3;
    top: 200px;
    position: absolute;
    left: 750px;
    width: 30px;
    margin-top: 50px;
  }
  

  .email {
    background-color: rgb(233, 240, 245);
    border:none;
    color: rgb(3, 1, 1);
    margin: 5px;
    height: 25px;
    border-radius: 5px;
    width: 500px;
    height: 45px;
    
  }
  
  .senha {
    background-color: rgb(233, 240, 245);
    border:none;
    color: rgb(3, 1, 1);
    margin: 5px;
    height: 25px;
    border-radius: 5px;
    width: 500px;
    height: 45px;

  }

  h1 {
    position: absolute;
    left: 860px;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight:900;
    color:rgb(9, 82, 124);
    margin-top: 100px;
  
}

h2 {
    position: absolute;
    margin-top: 160px;
    left: 800px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
     color:rgb(158, 177, 189);
  
}


.label {
    font-family: 'Montserrat', sans-serif;
    font-weight:900;
    color:rgb(9, 82, 124)
  
}
.button {
    background-color: rgb(6, 62, 95);
    border:none;
    color: rgb(245, 240, 240);
    margin: 5px;
    margin-top: 70px;
    height: 25px;
    border-radius: 5px;
    width: 500px;
    height: 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight:900;

}

   